.navbar {
  background-color: #bb2c5f;

  .navbar-brand {
    color: #fbecf1;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
