{% extends "base.html" %}

{% block body_css_class %}page-dashboard{% endblock %}

{% block body_content %}
  <div class="dashboard-overview">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-4 col-6">
          <div class="overview-box">
            <div class="heading">Current Wealth</div>
            <div class="content">
              <div class="number">404,000<span class="decimal">.00</span> <span class="unit">BAHT</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <div class="overview-box">
            <div class="heading">Profit / Loss</div>
            <div class="content">
              <div class="number">404,000<span class="decimal">.00</span> <span class="unit">BAHT</span></div>
              <div class="number smaller"><span class="positive">+ 40%</span> from the beginning</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-months">
    <h2>Profit/Loss by Month</h2>

    <div class="months">
      <!-- Barchart -->

    </div>
  </div>

  <div class="dashboard-funds">
    <h2>Your funds</h2>

    <ul>
      <li class="fund">
        <div class="row">
          <div class="col-6">
            <div class="fund-code">B-LTF</div>
            <div class="fund-details">
              <span class="fund-name">กองทุนเปิดบัวหลวงหุ้นระยะยาว</span>
              <span class="fund-manager">บลจ.บัวหลวง</span>
            </div>
            <div class="fund-invest">
              <span class="invested-units">
                <span class="caption">Available units</span>
                <span class="value">14.54224 Units</span>
              </span>
              <span class="invested-amount">
                <span class="caption">Cost value</span>
                <span class="value">14.54224 Baht</span>
              </span>
            </div>

            <div class="market-value">
              <span class="caption">Market value</span>
              <span class="value">14.54224 Baht</span>
            </div>
            <div class="profit-loss">
              <span class="caption">Profit/Loss</span>
              <span class="value">+14.54224 Baht</span>
            </div>
          </div>
          <div class="col-6">
            <div class="fund-chart"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>

{% endblock %}
