$positive-color: #177f67;
//$positive-darker-color: #177f67;
$negative-color: #d44558;
//$negative-darker-color: #af3747;

.page-dashboard {
  h2 {
    font-family: 'Open Sans', sans-serif;

    color: #333;
    //font-size: 1.1rem;

    //color: #df3b76;
    font-size: 1rem;
    font-weight: 700;

    margin-bottom: 0.7rem;
  }

  .dashboard-overview {
    border-bottom: 1px solid #c5cede;

    .container-fluid {
      padding: 0;
    }

    .col-md-4 {
      .overview-box {
        border-right: 1px solid #c5cede;
      }

      @include media-breakpoint-down('sm') {
        &:last-child {
          .overview-box {
            border-right: none;
          }
        }
      }
    }

    .overview-box {
      font-family: 'Open Sans', sans-serif;
      padding: 0.8rem 1rem;
      height: 100%;

      .heading {
        color: #555;
        font-size: 1rem;
      }

      .content {
        .number {
          font-size: 1.5rem;
          font-weight: 700;
          display: block;

          //&.positive {
          //  color: $positive-darker-color;
          //}
          //
          //&.negative {
          //  color: $negative-darker-color;
          //}

          .decimal {
            font-weight: normal;
          }

          .unit {
            color: #555;
            font-size: 0.65em;
            font-weight: 400;
            margin-left: 5px;
          }
        }

        .percentage {
          color: #999;
          font-size: 0.85rem;
          font-weight: 400;

          .positive, .negative {
            border-radius: 3px;
            color: white;
            display: inline-block;
            font-size: 0.9rem;
            margin: 0.2rem 3px 0.1rem 0;
            padding: 0.2rem 0.5rem;
          }

          .positive {
            background-color: $positive-color;
          }

          .negative {
            background-color: $negative-color;
          }
        }
      }
    }
  }

  .dashboard-months {
    margin-top: 1.5rem;

    h2 {
      padding: 0 15px;
    }

    .months {

    }
  }

  .dashboard-funds {
    margin-top: 2rem;

    h2 {
      padding: 0 15px;
    }

    ul {
      border-top: 1px solid #c5cede;
      padding: 0;

      li {
        border-bottom: 1px solid #c5cede;
        list-style: none;
      }
    }

    .fund {
      padding: 0.7rem 1rem 1rem;

      .fund-code {
        color: #df3b76;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
      }

      .fund-manager {
        color: #555;
        font-size: 0.9rem;
        margin-top: 0.1rem;
      }

      .heading {
        color: #777;
        display: block;
      }

      .content {
        color: #333;
        font-weight: bold;

        .decimal {
          font-weight: normal;
        }

        .unit {
          font-size: 0.9rem;
          font-weight: normal;
          margin-left: 2px;
        }
      }

      .fund-invested {
        margin-top: 0.7rem;

        .heading {
          font-size: 0.9rem;
        }

        .content {
          font-size: 1rem;
        }

        .invested-units, .invested-amount {
          display: inline-block;
        }

        .invested-units {
          margin-right: 20px;
        }
      }

      .market-value {
        margin-top: 0.7rem;

        .heading {
          font-size: 0.9rem;
        }

        .content {
          font-size: 1.3rem;
          line-height: 1.6rem;
        }
      }

      .profit-loss {
        margin-top: 0.7rem;

        .heading {
          font-size: 0.9rem;
        }

        .content {
          color: #333;

          .number {
            font-weight: bold;

            //&.positive {
            //  color: $positive-darker-color;
            //}
            //
            //&.negative {
            //  color: $negative-darker-color;
            //}
          }

          .percentage {
            font-weight: normal;
            display: block;

            .positive, .negative {
              border-radius: 3px;
              color: white;
              display: inline-block;
              font-size: 0.9rem;
              margin-top: 5px;
              padding: 0.2rem 0.5rem;
            }

            .positive {
              background-color: $positive-color;
            }

            .negative {
              background-color: $negative-color;
            }
          }

        }
      }
    }
  }
}
